@font-face {
   font-family: 'geometric_slabserif_712_extra_bold_bt';
   font-display: swap;
   src: url('file:///C:/Users/QuanPhucThinh/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-05-03_135039/fonts/geometric_slabserif_712_extra_bold_bt/font.ttf');
}
